<div class="container">
  <mat-form-field>
    <input type="text" placeholder="Select Country" (keyup)="searchTerm$.next($event.target.value)" matInput [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCountryChange($event.option.value)">
      <mat-option *ngFor="let country of countries" [value]="country">
        {{ country }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select City" [(ngModel)]="selectedCity">
      <mat-option *ngFor="let city of cities" [value]="city">
        {{ city }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-hint *ngIf="selectedCountry">Selected Country: {{selectedCountry}}</mat-hint>
  <br/>
  <mat-hint *ngIf="selectedCity">Selected City: {{selectedCity}}</mat-hint>
</div>
<br/>
<br/>